In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_path = Path('budget_data.csv')

budget_csv = pd.read_csv(file_path)

budget_csv.head(86)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [ ]:
from pathlib import Path
import OS
import csv

In [ ]:
file_path = Path ('budget_data.csv')

In [ ]:
count = 0
total = 0
average_change = 0
max_change = 0
min_change = 0
max_month = ()
min_month = ()
change = 0

In [3]:
print("Financial Analysis")
print("------------------------")
print("Total Months:")
print("Total:")
print("Average Change:")
print("Greatest Increase in Profits:")
print("Greatest Decrease in Profits:")

Financial Analysis
------------------------
Total Months:
Total:
Average Change:
Greatest Increase in Profits:
Greatest Decrease in Profits: